body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
   
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 62px;
    width: 100px;
    height: 100px;
    border: 2px solid darkgrey;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}

.cell:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: rgba(105, 95, 202, 0.4);
}

.cell:active {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: rgba(5, 143, 39, 0.5);
    transform: translateY(2px) ;
    animation-timing-function: ease-out;
}